.modal-container {
    position: fixed;
    z-index: 1100; /* higher than overlay */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 550px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-close-btn {
    font-size: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal-title-container {
    justify-content: center;
    display: flex;
}

.modal-title {
    font-weight: bolder;
    margin-top: 30px;
    letter-spacing: 3px;
}

.modal-body-container {
    display: flex;
    flex-direction: column;   
    margin-inline: 60px;
    margin-top: 10px;
}

.modal-label {
    font-weight: bolder;
    margin-top: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.modal-input {
    border: #b3e9c7 solid;
    border-radius: 5px;
    padding: 10px;
}

.modal-input-content {
    border: #b3e9c7 solid;
    border-radius: 5px;
    padding: 10px;
    height: 250px;
}

.modal-create-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #b3e9c7;
    font-size: small;
    letter-spacing: 10px;
    font-weight: bolder;
    color: whitesmoke;
}

.modal-create-button:hover {
    color: black;
    background-color: #eeeeee;
    transition: 0.3s ease;
}